# Ignore a blackhole and the folder for development
node_modules/
.vs/
.idea/
*.iml
.prettierignore
.sapphirerc.json
.templates/
migrations
git-filter-repo

# Yarn files
.yarn/install-state.gz
.yarn/build-state.yml
.yarn
.yarnrc.yml



.git
dist/
database.sqlite

# Ignore the config file (contains sensitive information such as tokens)

# Ignore heapsnapshot and log files
*.heapsnapshot
*.log

# Ignore npm lockfiles file
package-lock.json

# Environment variables

.env.local
.env.development.local
.env.development
.env.test.local
.env.production.local
.env